
@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Mvc.Common

@{
    ViewData["Title"] = "AdminAuthorList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model IEnumerable<EntityLayer.Author>

<div class="col-lg-12 tm-md-12 tm-sm-12 tm-col">
    <div class="bg-white tm-block h-100">
        <div class="row">
            <div class="col-md-8 col-sm-12">
                <h2 class="tm-block-title d-inline-block">Yazarlar</h2>

            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover table-striped tm-table-striped-even mt-3">
                <thead>
                    <tr class="tm-bg-gray">
                        <th scope="col">&nbsp;</th>
                        <th scope="col" class="text-center">Ad</th>
                        <th scope="col" class="text-center">Soyad</th>
                        <th scope="col">Düzenle</th>
                        <th scope="col">Sil</th>
                        <th scope="col">Detay</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">
                                <input type="checkbox" aria-label="Checkbox">
                            </th>
                            <td class="text-center">@item.Name</td>
                            <td class="text-center">@item.Surname</td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;<a class="fas fa-edit" asp-action="UpdateAuthor" asp-controller="Author" asp-route-id="@item.AuthorId"></a></td>
                            <td><a class="fas fa-trash-alt tm-trash-icon" asp-action="DeleteAuthor" asp-controller="Author" asp-route-id="@item.AuthorId"></a></td>
                            <td>&nbsp;&nbsp;<a asp-action="Index" asp-controller="Author" asp-route-id="@item.AuthorId" target="_blank" class="fas fa-book-open"></a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="tm-table-mt tm-table-actions-row">
            <div class="tm-table-actions-col-left">
                <button class="btn btn-danger">Seçili Üyeleri Sil</button>
            </div>
            <div class="tm-table-actions-col-right">
                <span class="tm-pagination-label">Sayfa</span>
                <nav aria-label="Page navigation" class="d-inline-block">
                    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }), new X.PagedList.Web.Common.PagedListRenderOptions
                    {
                    LiElementClasses = new string[] { "page-item" },
                    PageClasses = new string[] { "page-link" }
                    })
                </nav>
            </div>
        </div>
    </div>
</div>